/* * {
  outline: 1px solid red;
} */

.col-md-2 {
  right: 0;
}

.col-md-1 {
  left: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.important {
  background-color: lightgreen;
  font-weight: bold;
}

#ted {
  float: right;
  padding-left: 2%;
  padding-bottom: 1%;
}

#internet {
  float: left;
  padding-right: 2%;
  height: 200px;
  width: auto;
}

div.main-article > p {
  font-family: "Verdana", sans-serif;
}
